footer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;

    position: fixed;
     bottom: 0;
}

footer .socialMedia div {
    display: flex;
    justify-content: flex-end;
}